body {
    margin: 0px;
    background-color: #111111;
    font-family: 'Chakra Petch', sans-serif;
    color: #EEEEEE;
}


.bar {
    border: 10px #EEEEEE solid;
    margin: 0px 10px;
}

.bars-container {
    padding: 2%;
}

.button {
    padding: 20px;
    margin: 10px;
    width: 20%;
    background-color: #111111;
    color: #EEEEEE;
}

.buttons {
    margin: 1vh;
    height: 25vh;
}

.content {
    margin: auto;
    text-align: center;
}

.control-panel {
    vertical-align: bottom;
    width: 30vw;
    margin-left: 1vw;
    padding: 2% 2% 1% 2%;
}

.heading {
    font-size: 2rem;
    text-align: center;
    margin-top: 8vh;
}

.sort-option {
    width: 25%;
}



/* Responsiveness */
.hover {
    background-color: #555555;
}

.active {
    background-color: #EEEEEE;
    color: #111111
}

.disabled {
    color:#333333;
}


/* CSS Groupings */

.bars-container, .control-panel {
    background-color:#222222;
}

.sort-option, .button, .bars-container, .control-panel {
    border: 1px white solid;
}

.bars-container, .control-panel, .bar, .button {
    display: inline-block;
}




/* Bar Heights */

.height01 {
    height: 10vh;
}

.height02 {
    height: 12vh;
}

.height03 {
    height: 14vh;
}

.height04 {
    height: 16vh;
}

.height05 {
    height: 18vh;
}

.height06 {
    height: 20vh;
}

.height07 {
    height: 22vh;
}

.height08 {
    height: 24vh;
}

.height09 {
    height: 26vh;
}

.height10 {
    height: 28vh;
}

.height11 {
    height: 30vh;
}

.height12 {
    height: 32vh;
}

.height13 {
    height: 34vh;
}

.height14 {
    height: 36vh;
}

.height15 {
    height: 38vh;
}

.height16 {
    height: 40vh;
}

.height17 {
    height: 42vh;
}

.height18 {
    height: 44vh;
}

.height19 {
    height: 46vh;
}

.height20 {
    height: 48vh;
}